<h1 style="color:rgb(0, 255, 247)"> KẾT THÚC </h1>
<p> Trận đấu kết thúc với chiến thắng 1-0 dành cho Inter Milan và tổng tỉ số sau hai lượt trận là 3-0. Thầy trò HLV Simone Inzaghi trở thành đội bóng đầu tiên giành quyền vào chung kết UEFA Champions League mùa giải 2022-23, tại Istanbul, Thổ Nhĩ Kỳ vào ngày 10/6 tới. Đối thủ là đội thắng chung cuộc ở cặp bán kết còn lại giữa Real Madrid vs Man City.

 </p>

 <img src="https://static-images.vnncdn.net/files/publish/2023/5/17/inter-vs-milan-112.jpg" alt="">